/* Light Blue color - RTL */

#block-views-exp-map-list-business-page-1 h2.block-title {
  border-right: none;
  border-left: 1px solid #bddcf3;
}
#block-views-exp-map-list-business-page-1 h2.block-title:after {
  border-color: rgba(154,201,236, 0);
  border-right-color: #9ac9ec;
}
#block-views-exp-map-list-business-page-1 h2.block-title:before {
  border-color: rgba(189, 220, 243, 0);
  border-right-color: #bddcf3;
}
